
    <title><?=$this->controller->getTitle()?></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Cache-Control" content="public"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="../bootstrap/css/layout.css" rel="stylesheet" type="text/css"/>
    
    <script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../js/moment-with-locales.js" type="text/javascript"></script>
    <script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../bootstrap/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../js/typeahead.bundle.min.js" type="text/javascript"></script>