<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <?=$this->controller->runMethod('main', 'head')?>
    </head>
    <body>
        <?=$this->controller->runMethod('main', 'menu')?>

        <div class="container">

            <div class="page-header">
                <h1>Незакрытые проекты</h1>
            </div>
          
          <div class="row">
            <div class="col-md-12">
              Выплаты в этом месяце: <b><?=$profit?> руб.</b>
            </div>
          </div>

            <div class="main-area">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Дедлайн
                            </th>
                            <th>
                                Название проекта
                            </th>
                            <th>
                                Не выплачено
                            </th>
                            <th>
                                Заказчик
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <?=$this->controller->loadTemplate('main/unclosed')->fetchCollection($unclosed);?>

                    </tbody>
                </table>

            </div>

        </div><!-- /.container -->


    </body>
</html>
