

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li class=""><a href="/">Домой</a></li>
            <li class=""><a href="/?c=projects">Проекты</a></li>
            <li class=""><a href="/?c=people">Контрагенты</a></li>
            <li class=""><a href="/?c=payments">Выплаты</a></li>
            <li class=""><a href="/?c=projects&a=update">Новый проект</a></li>
          </ul>
        </div><!--/.nav-collapse -->
		<div class="nav-action pull-right">
			<div class="panel panel-negative" style="position: relative; top: 10px; padding: 5px;">
				<?=date('Y-m-d H:i:s')?>
			</div>
		</div>
      </div>
    </nav>