
                        <tr>
                            <td>
                                <?=$id?>
                            </td>
                            <td>
                                <?=$createdon?>
                            </td>
                            <td>
                                <?=$org?>
                            </td>
                            <td>
                                <?=$phone?>
                            </td>
                            <td>
                                <?=$name?>
                            </td>
                            <td>
                                <a class="btn btn-default glyphicon glyphicon-refresh" href="<?=$this->makeUrl(Array(
                                        'peopleid' => $id,
                                   ))?>"></a>
                            </td>
                        </tr>