
                        <tr>
                            <td>
                                <?=$id?>
                            </td>
                            <td>
                                <?=$createdon?>
                            </td>
                            <td>
                                <?=$org?>
                            </td>
                            <td>
                                <?=$phone?>
                            </td>
                            <td>
                                <?=$name?>
                            </td>
                            <td>
                                <a class="btn btn-default glyphicon glyphicon-pencil" href="/?c=people&a=update&id=<?=$id?>"></a>
                                <a class="btn btn-default glyphicon glyphicon-remove" href="/?c=people&a=drop&id=<?=$id?>"></a>
                            </td>
                        </tr>